<div id="main">
  <h1>&lt; Insert Team Here &gt; Leaderboard</h1>

  <%# TODO: Remove this placeholder text! %>
  <p>Welcome to the beRecruited challenge!</p>
  <p>Populate this leaderboard from the <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> API here: <a href="http://br-interview-api.heroku.com">http://br-interview-api.heroku.com</a></p>
    
  <%# TODO: Populate the rows in this table with data from http://br-interview-api.heroku.com %>
  <table>
    <tr>
      <th>Name</th>
      <th>This Week's Points</th>
      <th>Last Week's Points</th>
    </tr>
  </table>
</div>

